# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Big data folders
data/esl_accel/big_data/*
data/sharkduino_esl/*
